@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #F9F2EC;
 
  
}

.preenchimento{
 height: 15vh;
}
.text-h1-func{
text-align: center;
color: #F7C375;
}
.text-h3-func{
  text-align: center;
color:#DFBDBC


}

.colapse-section{
  display: grid;
 justify-items: center;

 

}

.texthighcolapse{
  color: #B67776;
  font-size: 30px;
  margin-left: -80vh;
}

.collapsible {
  display: flex;
  justify-content: right;
  align-items: center;
    background-color: #B67776;
     color: white;
     cursor: pointer;
   padding-right: 0.6vh;
   padding-top: -0.9vh;
     width: 50%;
     height:2vh;
     border: none;
     text-align: left;
     outline: none;
     font-size: 20px;
     border-radius: 1vh;  
}
.active, .collapsible:hover {
  background-color: #8d615f;
  transition: 0.3s;
}


.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 50%;
  height: 90vh;
}
.description{
  width: 65%; 
 float: right;

}

.description-func{
  font-size: 15px;
  padding-top: 5px;
  padding: 15px;
color: #C68E8D; 
text-align: justify;
}
.img-func{
width: 32%;
}
.img-colapse-func{
  height: 240px;
  border-radius: 50%;
}
.text-name{

}
.name-func{
  color: #B67776;
  font-size: 30px;
  display: flex;
  justify-content: center;

 
}
.icons-colapse{
  display: flex;
justify-content: center;
margin-left: -18vh;
margin-top: -4.5vh;
gap: 15px;

}
.icons-redesocial{
width: 40px;
height: 40px;
}


/*RESPONSIVIDADE*/

@media screen and (max-width: 1980px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -80vh;
  }
}

@media screen and (max-width: 1769px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -110vh;
}
}
@media screen and (max-width: 1670px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -100vh;
}
}
@media screen and (max-width: 1533px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -90vh;
}
}
@media screen and (max-width: 1429px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -80vh;
}
}
@media screen and (max-width: 1326px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -100vh;
}
}

@media screen and (max-width: 1226px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -80vh;
}
}
@media screen and (max-width: 1054px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -70vh;
}
}

@media screen and (max-width: 994px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -60vh;
}
}


@media screen and (max-width: 828px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -50vh;

}
}

@media screen and (max-width: 780px) {
  .texthighcolapse{
    color: #B67776;
    font-size: 30px;
    margin-left: -0vh;
}
}