@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 7vh;
}
body{
    width: 100%;
    background-color: #F9F2EC;
}
.espacamento{
    
}
.content1 {
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    
  }
  .content1 img {
    width: 100%;
    height: 100vh;
    filter: brightness(65%);
    
  }
.content1 a{
    position: absolute;
    top: 735px;
    color: white;
  }
  .content1 p{
    position: absolute;
    top: 200px;
    font-size: 40px;
    color: white;
    text-align: center;
    
  }
  .content1 button{
   width: 25vh;
   height: 8vh;
   text-align: center;
   border: 3px solid #f9ecec;
   background: transparent;
   color: #F9F2EC;
   cursor: pointer;
   font-size: 25px;
  
  }
  .content1 button:hover {
    opacity: 0.5;
    transition: 0.6;
  }
  #content2{
    width: 100%;
    height: 30vh;
    background-color: #C68E8D;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .florE img{
    height: 300px;
    padding-bottom: 10px;
  }
  .florD img{
    height: 300px;
    padding-bottom: 10px;
  }
  .txtContent2 {
    
    text-align: center;
  }
  .txtContent2 .MaiorC{
    color: white;
    font-size: 80px;
    font-weight: 700;
  }
 
  .txtContent2 .MenorC{
    color: #F7C375;
    font-size: 60px;
    
  }
  #contentText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 135vh;
    background-color: #F9F2EC;
}
.textlocal1{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 130vh;
    background-color: #F9F2EC;
}

.textlocal1 p{
    font-size: 25px;
    color: #9B6D41;
}
.conhecaEquipe{
  background-color: #F9F2EC;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 20px;
    height: 20vh;
    align-items: center;
    
}
.conhecaEquipe button{

    background-color: transparent;
    border: 2px solid #F7C375;;
    cursor: pointer;
    font-size: 20px;
    color: #F7C375;
    width: 25vh;
    height: 5vh;    
}

.servicos1{
    background-color: #C68E8D;
    height: 70vh;
    width: 100%;
    
}

.servicosdesc{
    align-items: center;
}

.servicosdesc h1{
    color: #F7C375;
    font-size: 50px;
    text-align: center;
}
.sublinhado-servi{
    width: 100%;
    height: 3vh;
    background-color: #F7C375;
}
.mainCard{
  width: 100%;
  background-color: #C68E8D;
  height: 90vh;
  
  
}
.cardTxt{
  
padding-top: 30px;

}
.cardTxt p{
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: #F7C375;
  }
.cardGerais{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  
}
.cardG{
  
  background-color: white;
  width: 350px;
  height: 500px;
  border-radius: 30px;
  padding-top: 15px;
  
  
}
.cardG img{
  margin-left: 125px;
}
.card1{
  
}
.card1 img{
  height: 100px;
  width: 100px;
  border-radius: 200px;
 border: 2px solid #C68E8D ;
}
.card1 p{
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
}
.card1 a{
  padding-top: 60px;
  display: flex;
  justify-content: center;
  
}
.card1 button{
  background-color: transparent;
  border: 2px solid #C68E8D;
  width: 120px;
  height: 35px;
  border-radius: 20px;
  margin-top: 50px ;
  font-size: 20px;
}


.card2 img{
  height: 100px;
  border-radius: 100px;
 border: 2px solid #C68E8D ;
width: 100px;
}
.card2 p{
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
}
.card2 a{
  padding-top: 60px;
  display: flex;
  justify-content: center;
}
.card2 button{
  background-color: transparent;
  border: 2px solid #C68E8D;
  width: 120px;
  height: 35px;
  border-radius: 20px;
  margin-top: 50px ;
  font-size: 20px;
}


.card3 img{
  height: 100px;
  border-radius: 100px;
 border: 2px solid #C68E8D ;
 width: 100px;
}
.card3 p{
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
}
.card3 a{
  padding-top: 60px;
  display: flex;
  justify-content: center;
 
  
}
.card3 button{
  background-color: transparent;
  border: 2px solid #C68E8D;
  width: 120px;
  height: 35px;
  border-radius: 20px;
  margin-top: 50px ;
  font-size: 20px;

 
}


.card4 img{
  height: 100px;
  border-radius: 100px;
 border: 2px solid #C68E8D ;
 width: 100px;
}
.card4 p{
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
}
.card4 a{
  padding-top: 60px;
  display: flex;
  justify-content: center;
}
.card4 button{
  background-color: transparent;
  border: 2px solid #C68E8D;
  width: 120px;
  height: 35px;
  border-radius: 20px;
  margin-top: 50px ;
  font-size: 20px;
}
#Parceiros-content{
  background-color: #C68E8D;
  height: 70vh;
  width: 100%;
 
}
.text-parc{
  text-align: center;
  padding-top: 2vh;
  font-size: 90px;
  font-family: 'Jost', sans-serif;
  color: #F7C375;
}
.florPCR{
  display: flex;
  justify-content: space-between;
}
.florE-pcr img{
  height: 300px;
  padding-bottom: 10px;
}
.florD-pcr img{
  height: 300px;
  padding-bottom: 10px;
}
.pcrSó{
  display: flex;
  justify-content: space-between;
}
.avon{
  padding-top: 110px;
}
.pantene{
  padding-top: 100px;
}
#rodapePrincipal{
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  background-color: #F9F2EC;
 
 
}
.nuvem{
  width: 50vh;
  height: 75vh;
  
}
.imgNuvem{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.imgNuvem img{
  height: 200px;
}
.textoRoda{
  display: flex;
  justify-content: center;
}
.text-contato1{
color: #9B6D41;
}
.text-contato2{
  color: #F7C375;
}
.txtNuvem p{
  font-size: 20px;
}
.relogio{
  width: 50vh;
  height: 75vh;
  
}
.imgRelogio{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.imgRelogio img{
  height: 200px;
}
.txtRel{
  display: flex;
  justify-content: center;
}
.txtRel1{
  color: #9B6D41;
}
.txtRel2{
  color: #F7C375;
}
.txtRel3{
  color: #F7C375;
}
.btnRoda{
  display: flex;
  justify-content: center;
}
.btnRoda1{
  margin-top: 30px;
  }
.btnRoda1 button{
width: 300px;
height: 60px;
background-color: transparent;
border: 2px solid #F7C375;
color: #F7C375;
font-size: 20px;
cursor: pointer;
}
.btnRoda2{
  margin-top: 100px;
  }
.btnRoda2 button{
  width: 150px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #F7C375;
color: #F7C375;
font-size: 15px;
cursor: pointer;
  }
.txtRelogio p{
  font-size: 20px;
}
.mapa{
  width: 50vh;
  height: 75vh;
  margin-top: 13vh;
}
.text-local{
  width: 32vh;
}
.text-mapa1{
  font-family: 'Jost', sans-serif;
  color: #9B6D41;
  font-size: 25px;
text-align: center;

}
.text-mapa2{
  font-family: 'Jost', sans-serif;
  color: #F7C375;
  font-size: 20px;
  text-align: center;
}
.text-mapa3{
  font-family: 'Jost', sans-serif;
  color: #F7C375;
  font-size: 20px;
  text-align: center;
}
.rodape-txt{
  width: 100%;
  height: 3vh;
 background-color: #C68E8D;
 margin-top: 20vh;

 
 }
 .text-footer{
  color: #F9F2EC;
  font-family: 'Jost', sans-serif;
  text-align: center;
  }
  /*Responsividade*/
  /*Altura*/
  @media  screen and (max-height: 810px) {
    .cardG{
  
      background-color: white;
      width: 350px;
      height: 400px;
      border-radius: 30px;
      padding-top: 15px;
      
      
    }
    .card1 button{
      background-color: transparent;
      border: 2px solid #C68E8D;
      width: 120px;
      height: 35px;
      border-radius: 20px;
      margin-top: 20px ;
      font-size: 20px;
    }
    .card2 button{
      background-color: transparent;
      border: 2px solid #C68E8D;
      width: 120px;
      height: 35px;
      border-radius: 20px;
      margin-top: -10px ;
      font-size: 20px;
    }
    .card3 button{
      background-color: transparent;
      border: 2px solid #C68E8D;
      width: 120px;
      height: 35px;
      border-radius: 20px;
      margin-top: 20px ;
      font-size: 20px;
    }
    .card4 button{
      background-color: transparent;
      border: 2px solid #C68E8D;
      width: 120px;
      height: 35px;
      border-radius: 20px;
      margin-top: 20px ;
      font-size: 20px;
    }
    .florE-pcr{
      
    }
  }
  @media  screen and (max-height: 805px) {
    .content1 a{
      position: absolute;
      top: 550px;
      color: white;
    }
    .content1 button{
      width: 28vh;
      height: 10vh;
      text-align: center;
      border: 3px solid #f9ecec;
      background: transparent;
      color: #F9F2EC;
      cursor: pointer;
      font-size: 25px;
     }
  }

  
 
  @media  screen and (max-height: 667px) {
    .content1 a{
      top: 500px;
    }
    .textlocal1{
      width: 700px;
      height: 500px;
      display: flex;
      justify-content: center;
      padding-top: 100px;
      height: 130vh;
  }
  
  .textlocal1 p{
      font-size: 20px;
      color: #9B6D41;
  }

  }
   /*Largura*/
  @media screen and (max-width: 1742px){
    .txtContent2 .MaiorC{
        color: white;
        font-size: 70px;
        font-weight: 700;
      }
     
      .txtContent2 .MenorC{
        color: #F7C375;
        font-size: 50px;
        
      }
}
@media screen and (max-width: 1562px){
  .florE-pcr img{
    height: 250px;
    padding-bottom: 10px;
  }
  .florD-pcr img{
    height: 250px;
    padding-bottom: 10px;
  }
  .card4{
    display: none;
   }
}
@media screen and (max-width: 1366px){
     
      .florE img{
        height: 200px;
        padding-bottom: 10px;
      }
      .florD img{
        height: 200px;
        padding-bottom: 10px;
      }
      .florE-pcr img{
        height: 200px;
        padding-bottom: 10px;
      }
      .florD-pcr img{
        height: 200px;
        padding-bottom: 10px;
      }
}
@media screen and (max-width: 1270px){
  .florE-pcr img{
    height: 150px;
    padding-bottom: 10px;
  }
  .florD-pcr img{
    height: 150px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1170px){
    .txtContent2 .MaiorC{
        color: white;
        font-size: 60px;
        font-weight: 700;
      }
     
      .txtContent2 .MenorC{
        color: #F7C375;
        font-size: 40px;
        
      }
      .florE-pcr img{
        display: none;
      }
      .florD-pcr img{
        display: none;
      }

}
@media screen and (max-width: 1126px){
  .card3{
    display: none;
  }
}
@media screen and (max-width: 990px){
 .mapa{display: none;}
}
@media screen and (max-width: 956px){
  .textlocal1{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    height: 130vh;
}

.textlocal1 p{
    font-size: 22px;
    color: #9B6D41;
}
}

@media screen and (max-width: 866px){
    .florE img{
        height: 150px;
        padding-bottom: 10px;
      }
      .florD img{
        height: 150px;
        padding-bottom: 10px;
      }
      .txtContent2 .MaiorC{
        color: white;
        font-size: 55px;
        font-weight: 700;
      }
     
      .txtContent2 .MenorC{
        color: #F7C375;
        font-size: 35px;
        
      }

      .textlocal1{
        width: 700px;
        height: 500px;
        display: flex;
        justify-content: center;
        padding-top: 100px;
        height: 130vh;
    }
    
    .textlocal1 p{
        font-size: 20px;
        color: #9B6D41;
    }
    .cardTxt p{
      font-size: 45px;
    }
}

@media screen and (max-width: 750px){
 .natura{
  display: none;
 }
 .card1{
  margin-left: 150px;
 }
 .card2{
  display: none;
 }
}

@media screen and (max-width: 700px){
    .florE img{
        height: 150px;
        padding-bottom: 10px;
      }
      .florD img{
        height: 150px;
        padding-bottom: 10px;
      }
      .txtContent2 .MaiorC{
        color: white;
        font-size: 40px;
        
      }
     
      .txtContent2 .MenorC{
        color: #F7C375;
        font-size: 25px;
        
      }

      .textlocal1{
        width: 600px;
        height: 500px;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        height: 130vh;
    }
    
    .textlocal1 p{
        font-size: 20px;
        color: #9B6D41;
    }
    .nuvem{
      display: none;
    }
    .relogio{
      margin-left: 150px;
     
    }
}
@media screen and (max-width: 650px){
    .florE img{
        display: none;
      }
      .florD img{
        display: none;
      }
      .textlocal1{
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        padding-top: 100px;
        height: 130vh;
    }
    
    .textlocal1 p{
        font-size: 18px;
        color: #9B6D41;
    }
    .card1{
      margin-left: 100px;
     }
     .cardTxt p{
      font-size: 35px;
     }
}

@media screen and (max-width: 550px){
  .florE img{
      display: none;
    }
    .florD img{
      display: none;
    }
    .textlocal1{
      width: 400px;
      height: 500px;
      display: flex;
      justify-content: center;
      padding-top: 100px;
      height: 130vh;
  }
  
  .textlocal1 p{
      font-size: 18px;
      color: #9B6D41;
  }
  #Parceiros-content{
    display: none;
  }
}
@media screen and (max-width: 500px){
  .florE img{
      display: none;
    }
    .florD img{
      display: none;
    }
    .textlocal1{
      width: 280px;
      height: 480px;
      display: flex;
      justify-content: center;
      padding-top: 10px;
      height: 130vh;
  }
  
  .textlocal1 p{
      font-size: 16px;
      color: #9B6D41;
  }
  .relogio{
    margin-left: 50px;
  }
  .card1{
    margin-left: 20px;
  }
}

@media screen and (max-width: 445px){
  .florE img{
      display: none;
    }
    .florD img{
      display: none;
    }
    .textlocal1{
      width: 280px;
      height: 480px;
      display: flex;
      justify-content: center;
      padding-top: 10px;
      height: 130vh;
  }
  
  .textlocal1 p{
      font-size: 16px;
      color: #9B6D41;
  }
  
  .relogio{
    margin-left: 10px;
  }
  .card1{
    margin-left: 10px;
  }
}

 





