@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: #F9F2EC;
}

.content1 {
    z-index: -1;
    position: relative;
}

.content1 img {
    max-width: 100%;
    height: auto;
    padding-top: 40px;
    display: block;
}

.content1 button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35vh;
    padding: 30px 0;
    text-align: center;
    margin: 20px 10px;
    border: 2px solid #F9F2EC;
    background: transparent;
    color: #F9F2EC;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s;
    font-size: 20px;
}

.content1 button:hover {
    opacity: 0.5;
}

.img1content2 img{
    max-width: 100%;
    height: auto;
    display: block;
}
.contentText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 135vh;
}
.textlocal1{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.textlocal1 p{
    font-size: 25px;
    color: #9B6D41;
}
.conhecaEquipe{

    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 20px;
    /*position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35vh;
    padding: 30px 0;
    text-align: center;
    margin: 20px 10px;
    border: 2px solid #F9F2EC;
    background: transparent;
    color: #F9F2EC;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s;
    font-size: 20px;*/
}
.conhecaEquipe button{

    background-color: transparent;
    border: 2px solid #F7C375;;
    cursor: pointer;
    font-size: 20px;
    color: #F7C375;
    width: 25vh;
    height: 5vh;    
    /*position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35vh;
    padding: 30px 0;
    text-align: center;
    margin: 20px 10px;
    border: 2px solid #F9F2EC;
    background: transparent;
    color: #F9F2EC;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s;
    font-size: 20px;*/
}
.servicos1{
    background-color: #C68E8D;
    height: 70vh;
    width: 100%;
    
}

.servicosdesc{
    align-items: center;
}

.servicosdesc h1{
    color: #F7C375;
    font-size: 50px;
    text-align: center;
}
.sublinhado-servi{
    width: 100%;
    height: 3vh;
    background-color: #F7C375;
}

.btn-agende{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30vh;
    padding: 30px 0;
    text-align: center;
    margin: 20px 10px;
    border: 2px solid #F7C375;
    background: transparent;
    color: #F7C375;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s;
    font-size: 20px;
    z-index: -1;
}

.btn-agende:hover{
    opacity: 0.5;
}

.rodape{
width: 100%;
height: 100vh;
}
.espacamentoRoda{
    height: 50vh;
}
.imgRoda{
    display: flex;
    justify-content: center;
    
    
}
.imgRoda img{
    width: 100%;
    height: 50vh;
    
    
}




/*RESPONSIVIDADE*/

/*Height*/
@media screen and (max-height: 994px){
    .textlocal1{
        width: 800px;
        height: 500px;
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .textlocal1 p{
       font-size: 28px;
    }
}

@media screen and (max-height: 662px){
    .textlocal1{
        width: 800px;
        height: 330px;
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .textlocal1 p{
       font-size: 22px;
    }
}

@media screen and (max-height: 497px){
    .textlocal1{
        width: 800px;
        height: 300px;
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .textlocal1 p{
       font-size: 17px;
    }
}

/*Width*/

@media screen and (max-width: 1300px){
    .content1 button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 35vh;
        padding: 30px 0;
        text-align: center;
        margin: 20px 10px;
        border: 2px solid #F9F2EC;
        background: transparent;
        color: #F9F2EC;
        cursor: pointer;
        overflow: hidden;
        transition: 0.4s;
        font-size: 20px;
        height: 10vh;
    }
}
@media screen and (max-width: 506px){
    .content1 button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40vh;
        padding: 30px 0;
        text-align: center;
        margin: 20px 10px;
        border: 2px solid #F9F2EC;
        background: transparent;
        color: #F9F2EC;
        cursor: pointer;
        overflow: hidden;
        transition: 0.4s;
        font-size: 18px;
        height: 5vh;
    }
    
}



@media screen and (max-width: 800px){
    .textlocal1{
        width: 600px;
        height: 500px;
        display: flex;
        justify-content: center;
        padding-top: 25px;
    }
    .textlocal1 p{
       font-size: 17px;
    }
}

@media screen and (max-width: 646px){
    .textlocal1{
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .textlocal1 p{
       font-size: 14px;
       
    }
}

@media screen and (max-width: 400px){
    .textlocal1{
        width: 360px;
        height: 400px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }
    .textlocal1 p{
       font-size: 14px;
       
    }
}

@media screen and (max-width: 365px){
    .textlocal1{
        width: 350px;
        height: 400px;
        display: flex;
        justify-content: center;
        padding-top: 0px;
    }
    .textlocal1 p{
       font-size: 13px;
       
    }
}






