*{
  margin: 0;
  padding: 0;
box-sizing: border-box;

}
.container{
  width: 100%;
  height: 400vh;
  background-color: #F9F2EC;

}
.header{
  width: 100%;
  height: 15vh;
  background-color: #B67776;
 
display: flex;
justify-content: space-between;
align-items: center;

}

.logo-header{
  width: 5%;
  height: 10vh;
  background-color: #F9F2EC;
margin-left:65px ;

}
.logo-ico{
  
  margin-left: 22px;
  margin-top: 15px;
}

.btn-group{
  display: flex;
  gap: 27px;
}
.btn{
  background-color: transparent;
  border: 2px solid transparent;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  color: #F9F2EC;
  cursor: pointer;
}
.btn:hover{
 border-bottom: 2px solid #F7C375;
}
.ico-user-header{
  margin-right: 62px;
  
 
 
}
.ico-img{
  height: 40px;
  width: 45px;
  margin-top: 5px;
  
  

}
.btn-login{
  background-color: transparent;
  border: 2px solid transparent;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  color: #F9F2EC;
  cursor: pointer;
  
  
  
}
.section{
  width: 100%;
  height: 85vh;
}


img{
  width: 100%;
}